<article class="blog-article">
  <div class="row justify-content-center">
    <div class="col-md-2 d-none d-md-block align-self-center article-img">
        <img class="img-fluid" src="../../../assets/images/oneplus_phone.jpg" alt="smartphone-image">
    </div>
    <div class="col-md">
    <div class="row justify-content-start article-heading align-items-center">
        <div class="col-auto author-name d-none d-md-block font-weight-bolder">Tim Sigl</div>
        <div class="col-auto tag">#smartphone</div>
        <div class="col-auto tag">#oneplus</div>
        <div class="col-auto tag">#10t</div>
      </div>
      <div class="row">
        <div class="col article-text">
            <h2>Article</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
              elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
              et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
              sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
              kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>                
        </div>       
      </div>
      <div class="row d-md-none justify-content-between">
        <div class="col-6 author">
          <div class="row">
            <div class="col-auto">
                <img  class="img-fluid rounded-circle" width="60px" src="../../../assets/tim_portrait.jpg" alt="Tim Sigl, Author">
            </div>
            <div class="col-6 align-self-center pl-0">
                <span class="font-weight-bolder">Tim Sigl</span>   <br>
                <span style="color: var(--secondary);" >Ich</span>               
            </div>
          </div>            
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-primary">Weiterlesen</button>
        </div>
      </div>  
    </div>
    <div class="col-md-1 blue-col d-none d-md-block">
        <div class="row justify-content-center" style="height: 100%;">
          <div class="col align-self-center p-0 text-center">
              <a routerLink="/home"><i class="material-icons md-light">
                  keyboard_arrow_right
                  </i></a>
          </div>
        </div>     
      </div>
  </div>
    
</article>



