.blog-article {
    background-color: white;
    margin: 1em;
    color: var(--primary);
    border-radius: 20px;
    box-shadow: 10px 14px 25px -7px rgba(130,130,130,1);
}

.blog-article  .article-text {
    margin: 1em 0;
}
.blog-article .article-text > h2 {
    color: var(--secondary);
    font-weight: bold;
}
.blog-article .article-img {
    margin: 1em;
}
.blog-article .article-heading{
    font-size: smaller;
}
.blog-article .article-heading .tag {
    background-color: var(--secondary);
    border-radius: 15px;
    color: white;
    margin-right: 1em;
    padding: 3px 10px;
}
.blog-article .article-heading:first-child {
    margin-left: 0px;
}

.blog-article .article-heading > .author{
    font-size: large;
}

.blog-article  a {
    padding: 0;
}
.blog-article .blue-col {
    background-color: var(--primary);
    border-radius: 0 19px 19px 0;
} 
.material-icons.md-light {
    color: white;
    font-size: 48px;
}

/* Desktop and Tablet */
@media (min-width: 769px) {
    .blog-article {
        max-height: 200px;
    }

    .blog-article  p {
        line-height: 1.2em;
        max-height: 3.6em;
        overflow: hidden;
    }

    .blog-article .article-heading{
        padding-top: 2em;
    }
}
/* Mobile styles */
@media (max-width: 768px) {
    .blog-article {
        max-height: 600px;
        padding: 2em;
    }
    .blog-article  p {
        line-height: 1.2em;
    }
    .site-heading {
        width: 75%;
    }
    .author {
        padding: 0;
    }
}

