<form #createArticleForm="ngForm" (ngSubmit)="onSaveArticle(createArticleForm.value)">
  <div class="form-group">
    <label for="article-title">
      <h3>Artikelüberschrift</h3>
    </label>
    <input type="text" class="form-control" id="article-title" placeholder="Überschrift" ngModel name="heading">
  </div>
  <div class="form-group">
    <label for="article-title">
      <h3>Zusammenfassung</h3>
    </label>
    <textarea class="form-control" id="article-title" placeholder="Zusammenfassung" ngModel name="summary"
      aria-describedby="article-summary" rows="3"></textarea>
    <p id="article-summary" class="form-text text-muted">
      Die Zusammenfassung wird direkt auf der Blogseite angezeigt in der Vorschau auf den Artikel.
    </p>
  </div>
  <div class="form-group">
    <label for="article-title">
      <h3>Tags</h3>
    </label>
    <input type="text" class="form-control" id="article-tags" placeholder="internet, ki, handy" ngModel name="tags"
      aria-describedby="article-tags">
    <p id="article-tags" class="form-text text-muted">
      Tags werden für die Suche von Artikeln benutzt. Die Tags müssen mit Kommas getrennt werden.
    </p>
  </div>
  <div class="form-group">
    <label for="article-title">
      <h3>Artikel URL</h3>
    </label>
    <input type="text" class="form-control" id="article-url" placeholder="neues_handy" ngModel name="url"
      aria-describedby="article-url">
    <p id="article-url" class="form-text text-muted">
      Die Artikel Url wird in der Adressleiste angezeigt um den Artikel direkt aufrufen zu können.
    </p>
  </div>
  <h3>Artikel schreiben</h3>
  <div id="editorjs"></div>
  <button type="submit" class="btn btn-primary my-3">Speichern</button>
  <button type="submit" class="btn btn-secondary my-3 ml-3">Veröffentlichen</button>
</form>
