#editorjs {
    background-color: var(--secondary);
    border-radius: 5px;
    color: white;
}

.form-wrapper {
    background-color: var(--light);
    padding: 2em;
    border-radius: var(--main-borderradius);
    margin-bottom: 2em;
    box-shadow: 10px 14px 25px -7px rgba(130,130,130,1);
}

.ce-paragraph[data-placeholder]::before {
    color: white;
}