<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/main_logo.png"  height="50px" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <a class="dropdown-toggle" #dropdowntoggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons md-48">person</i>
      </a>
      <li *ngIf="!isLoggedIn" class="dropdown-menu dropdown-menu-right">      
          <form class="px-4 py-3" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email Adresse</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" ngModel name="email">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Passwort</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Passwort" ngModel name="password">
              </div>
              <button type="submit" class="btn btn-primary">Anmelden</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/user/signup">Noch kein Konto? Registrieren</a>
            <a class="dropdown-item" href="#">Passwort vergessen?</a>
      </li>
      <li *ngIf="isLoggedIn" class="dropdown-menu dropdown-menu-right">
        <a href="" class="dropdown-item">Einstellungen</a>
        <a href="" class="dropdown-item">Abmelden</a>
      </li>
    </ul>
      
    
  
  </div>
</nav>