img {
    object-fit: cover;
    margin-bottom: 3em;
    width: 100%;
}

.site-heading{
    position: absolute;
    top: 7em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: white;
}

.site-heading > h1  {
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 0.5em;
}
.site-heading > p {
    font-size: larger;
}

/* Desktop and tablet styles */
@media (min-width: 769px) {
    img {
        height: 18em;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    img {
        height: 25em;
    }
    .site-heading {
        width: 75%;
    }
}
