<app-header></app-header>
<div class="site-heading">
  <h1>Blog</h1>
  <p>Hier schreibe ich über ganz unterschiedliche Dinge. News aus dem Technikbereich,
    Erfahrungen aus meinem Studium oder was mir sonst so in den Sinn kommt.</p>
</div>
<img class="img-fluid" src="../../assets/blog_title_blur.png" alt="">
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<footer>
  <ul class="nav justify-content-center bg-light">
    <li class="nav-item">
      <a class="nav-link" routerLink="/legalinfo">Impressum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/privacy">Datenschutz</a>
    </li>
    <li *ngIf="!loginService.isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/login">Anmelden</a>
    </li>
    <li *ngIf="loginService.isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/" (click)="onLogout()">Abmelden</a>
    </li>
    <li *ngIf="!loginService.isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/signup">Registrieren</a>
    </li>
  </ul>
</footer>
