<div class="container">
  <form #loginForm="ngForm" (ngSubmit)='onSubmit(loginForm.value)'>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="login-email">E-Mail</label>
          <input type="text" class="form-control" id="login-email" ngModel name="email" required email>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="login-password">Passwort</label>
          <input type="password" class="form-control" id="login-password" ngModel name="password" required>
        </div>        
      </div>
    </div>
    <div>
        <div class="alert alert-danger" *ngIf="loginError"><strong>Fehler:</strong> E-Mail Adresse oder Passwort sind nicht korrekt.</div>
        <button class="btn btn-primary mt-3 mb-3" [disabled]="!loginForm.valid">Anmelden</button>
      </div>
  </form>
  
</div>
