.card{
    background-color: var(--secondary-light);
    min-height: 200px;
    box-shadow: 10px 14px 25px -7px rgb(37, 37, 37);
    margin-bottom: 2em;
}
.card-img-top {
    width: 50%;
}

.card-body {
    padding-top: 5px;
}

.card-title {
    text-align: center;
}