@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
    --primary: #2DB8C7;
    --secondary: #646464;
    --secondary-light: #acacac;
    --accent: #fcc623;
}
* {
    font-family: 'Nunito Sans', sans-serif; 
}
body {
    background: #d6d6d6;
    overflow-x: hidden;
}
.material-icons.md-48 {
     font-size: 48px; 
}

/* Overwriting bootstrap styles */
.btn.btn-primary {
    background-color: #2db8c7;
    border: none;
}
.btn.btn-primary:hover {
    background-color: #525151;
    border: none;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    
}
